<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.estoq/style2.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/style.estoq/style2.js"></script>
    <title>Estoque</title>
</head>
<body>


 <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Almoxarifado</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="../pag.estoque/consultaestoque.html">Estoque</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pag.solicitaçoes/index.html">
            Solicitar
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pag.cadastro/cad.html">Cadastrar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pag.devolver/devolver.html">Devolver</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pag.login/login.html">Sair</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<table>
  {% for item in resultado %}
  <tr>
    <th>{{dado_id}}</th>
    <th>{{dado_nome}}</th>
    <th>{{dado_qntd}}</th>
    <th>{{dado_tipo}}</th>
  </tr>
  {% endfor %}
  <tr>
    <td>Ana Silva</td>
    <td>Engenheira</td>
    <th>Cargo</th>
  </tr>
  <tr>
    <td>João Souza</td>
    <td>Designer</td>
    <th>Cargo</th>
  </tr>
</table>


 
</body>
</html>