<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.estoq/style2.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/style.estoq/style2.js"></script>
    <title>Estoque</title>
</head>
<body>
  <!-- Thiago --> 
    <h1>
      <div id="titulo">
        Estoque
      </div>  
    </h1> 
    <body>
      
        <table id="estoque">
          <!-- Tabela dos itens --> 
          <tr style="background-color: gainsboro; color: black;">
            
            <th style="text-align: center;">Item</th>
            <th style="text-align: center;">Quantidade</th>
                
          </tr>
          <tr> 
            <td style="text-align: center;">Chave de Fenda</td>
            <td style="text-align: center;">5</td>
          </tr>
          <tr>
            <td style="text-align: center;">Chave Inglesa</td>
            <td style="text-align: center;">3</td>
          </tr>
          <tr>
            <td style="text-align: center;">Cano PVC</td>
            <td style="text-align: center;">10</td>
          </tr>
          <tr>
            <td style="text-align: center;">Barra de Aço</td>
            <td style="text-align: center;">4</td>
          </tr>
          <tr>
            <td style="text-align: center;">Cano de Metal</td>
            <td style="text-align: center;">2</td>
          </tr>
          <tr>
            <td style="text-align: center;">Cabos de Rede</td>
            <td style="text-align: center;">12</td>
          </tr>
          <tr>
            <td style="text-align: center;">Monitor</td>
            <td style="text-align: center;">5</td>
          </tr>
          <tr>
            <td style="text-align: center;">Mouse</td>
            <td style="text-align: center;">11</td>
          </tr>
          <tr>
            <td style="text-align: center;">Cabo de Força</td>
            <td style="text-align: center;">9</td>
          </tr>
          <tr>
            <td style="text-align: center;">Cabo HDMI</td>
            <td style="text-align: center;">2</td>
          </tr>
          <tr>
            <td style="text-align: center;">Parafuso</td>
            <td style="text-align: center;">17</td>
          </tr>
        </table>
            <br><br>
            <!-- caixa que organiza os botões --> 
        <div class="btn-group" role="group" aria-label="Basic example" >
          <!--Botão de voltar --> 
            <button class="btn btn-primary"  style="width: 100px; background-color: rgb(42, 71, 150); position: absolute; left: 15px; top: -30px; height: 50px; width: 200px; border-color: rgb(42, 71, 150);" onclick="history.back()">Voltar</button>
        </div>
      </body>
    
    </table>
</body>
</html>