body{
/* Imagem de Fundo */
background-image: url(../img.soli/fundotop.png);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.container-fluid {
    background-color: #192a6b;
    padding: 15px;
}

/* links da navbar */
.navbar .nav-link {
    color: white !important;
}

/* nome Almoxarifado */
.navbar .navbar-brand {
    color: white !important;
}

/* link ativo */
.navbar .nav-link.active {
    color: white !important;
}

/* hover */
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #dcdcdc !important;
}
.navbar {
    margin: 0;
    padding: 0;
}
.navbar .nav-link {
    color: white !important;
    position: relative;
}

.navbar .nav-link {
    color: white !important;
    position: relative;
}

/* página ativa */
.navbar .nav-link.active {
    color: white !important;
}

/* traço embaixo */
.navbar .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: white;
}

#Titulo{
    text-align: center;
    position: absolute;
    color:white;
    left: 640px;
    top: 150px;
    height: 100px;
    font-size: 80px;
    font-style: italic;
}
#but{
    height: 70px;
    width: 700px;
    position: relative;
    top: 145px;
    left: 610px;
    font-size: 500px;
}
#buti{
    height: 70px;
    width: 700px;
    position: relative;
    top: 145px;
    left: 610px;
    border-color: #ff9500;
    background-color: #ff9500;
    color:white;
    border-radius: 10px;
}

input::placeholder {
/* Mexer no tamanho do texto do placeholder */
    font-size: 20px;
}

#img{
    position: absolute;
    left: 15px;
    top:900px;
    background-color: rgb(42, 71, 150) ;
    border-radius: 5px;
    height:40px;
    width: 150px;
    color: white;
    text-size-adjust: 60px;
}
