body{
    background-color: white;
}

.container-fluid {
    background-color: #192a6b;
    padding: 15px;
}

/* links da navbar */
.navbar .nav-link {
    color: white !important;
}

/* nome Almoxarifado */
.navbar .navbar-brand {
    color: white !important;
}

/* link ativo */
.navbar .nav-link.active {
    color: white !important;
}

/* hover */
.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #dcdcdc !important;
}
.navbar {
    margin: 0;
    padding: 0;
}
.navbar .nav-link {
    color: white !important;
    position: relative;
}

/* página ativa */
.navbar .nav-link.active {
    color: white !important;
}

/* traço embaixo */
.navbar .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: white;
}
body {
    margin: 0;             
    height: 100vh;          
    display: flex;          
    flex-direction: column; 
    /* Colocar os itens um embaixo do outro */
    flex: 1;
  }
  
  table {
    
    flex: 1;                
    /* Ocupar todo espaço que sobra */
    width: 100%;
    border-collapse:collapse;
  }
  
  th, td {
    flex: 1;
    border: 1px solid black;
    width: 200px;
    
  }
   
  .estoque-baixo {
    /* Mudar a cor do estoque se estiver menor que 5 */
    background-color:rgba(255, 0, 0, 0.596);
    color: white;
}
