<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecionamento</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.red/style.css">
    <script src="../static/style.red/style.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
      <h1 id="Titulo">Redirecionamento</h1>
<div class="card" style="width: 19rem; border-color: white;" id="card1">
    <!-- Card do cadastro--> 
  <img src="../../static/img.red/icones (2).png" class="card-img-top" alt="..." style="height: 301px; width: 302px;">
    <div class="card-body"> 
       <h5 class="card-title">CADASTRO</h5>
        <p class="card-text">Cadastre novos itens</p>
          <a href="../pag.cadastro/cad.html" class="btn btn-primary" style="background-color: rgb(42, 71, 150); border-color: rgb(42, 71, 150);">Cadastrar</a>

  </div>
</div><div class="card" style="width: 19rem; border-color: white;" id="card2">
    <!-- Card do estoque--> 
  <img src="../../static/img.red/icones (3).png" class="card-img-top" alt="..." style="height: 300px; width: 302px;">
    <div class="card-body">
      <h5 class="card-title">CONSULTAR</h5>
       <p class="card-text">Consulte o estoque de itens</p>
         <a href="../pag.estoque/consultaestoque.html" class="btn btn-primary" style="background-color: rgb(42, 71, 150); border-color: rgb(42, 71, 150);">Consultar</a>

  </div>
</div><div class="card" style="width: 18.5rem; border-color: white;" id="card3">
    <!-- Card de devolução--> 
  <img src="../../static/img.red/icones (4).png" class="card-img-top" alt="..." style="height: 275px; width: 295px;">
    <div class="card-body">
      <h5 class="card-title">RETIRADA e DEVOLUÇÃO</h5>
        <p class="card-text">Solicite a retirada e devolução de itens</p>
          <a href="../pag.solicitaçoes/index.html" class="btn btn-primary" style="background-color: rgb(42, 71, 150); border-color: rgb(42, 71, 150);">Retirar/Devolver</a>
          
  </div>
</div>

  <button type="button" class="btn" id="info" onclick="info()" >INFO</button>
</body>
</html>