<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.login/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/style.login/style.js"></script>
    <title>Almoxarifado Senai</title>
</head>
<body>
        <div id="Almoxarifado">
            <h1> </h1>
        </div>
    <br>
        <div id="linha"> 
        <!-- Linha da logo do Senai -->  
            <img src="../../static/img.login/senaib.jpg" width="500px" height="190px">
        </div>
    <br><br><br>
        <div id="caixas"> 
        <!-- Caixa do usuario -->
            <h2>
            <label for="nome"></label>
            <input type="text" id="usuario" placeholder="USUARIO">
    <br><br><br>
            <label for="nome"></label> 
        <!-- Caixa da senha -->
            <input type="password" id="senha" placeholder="SENHA">
            </h2>
    <br><br>
        </div>

            <div id="Entrar">
        <!-- Botão de entrar -->
                <button type="button" style="height: 60px; width: 220px; font-size: 30px; background-color:rgb(42, 71, 150) ; border-color: rgb(42, 71, 150) ;" class="btn btn-primary" onclick="verificarlogin()">ENTRAR</button>
            </div>
</body>
    

</html>
</body>
</html>
