body{
/* Imagem de Fundo */
background-color:white;
background-image:url(../../static/img.estoq/fundo.png);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#Titulo{
    text-align: center;
    color:white;
    height: 110px;
    font-size: 80px;
    font-style: italic;
    position: absolute;
    left: 30px;
    top: 50px;
    

}
#card1{
    position: absolute;
    top :270px;
    left: 300px;
}
#card2{
    position: absolute;
    top :270px;
    left: 800px;
}
#card3{
    position:absolute;
    top :270px;
    left: 1300px;
}
#info{
 position: absolute;
 left: 15px;
 top:900px;
 color:white;
}