<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.cad/style.css">
    <script src="../static/style.cad/style.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Almoxarifado</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="../pag.estoque/consultaestoque.html">Estoque</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pag.solicitaçoes/index.html">
            Solicitar
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pag.cadastro/cad.html">Cadastrar</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="../pag.devolver/devolver.html">Devolver</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../pag.login/login.html">Sair</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<body>
    <img src="../../static/img.login/fundotop.png" width="500" height="190" >
        <h1 id="Titulo2">Devolver Itens</h1>
   <form  class="d-flex" role="search" id="but">
    <!-- Caixa pra colocar o nome do item--> 
        <input class="form-control me-2" type="search" placeholder="Nome do Item" aria-label="Search"/>
    </form>
      <br><br><br>
    <form class="d-flex" role="search" id="but">
    <!-- Caixa pra colocar a quantidade --> 
        <input class="form-control me-2" type="search" placeholder="Quantidade" aria-label="Search"/>
    </form>
      <br><br><br>
      <form class="d-flex" role="search" id="but">
    <!-- Caixa pra colocar a quantidade --> 
        <input class="form-control me-2" type="search" placeholder="Tipo do Item" aria-label="Search"/>
    </form>
     <br><br><br>
            <button class="meu-input" type="submit" id="buti" onclick="but()">Devolver</button>
            
    
</body>
</html>

